[Desktop Entry]
Name=Org-Protocol
Exec=emacsclient %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol

# the following command should be run on the terminal to activate this entry:
# as per
# https://www.orgroam.com/manual.html#Installation-_00281_0029
#
# xdg-mime default org-protocol.desktop x-scheme-handler/org-protocol
